@using eKnjige.Data
@using eKnjige.Helpers;
@model eKnjige.VewModels.OcijeniVMIndex;


@{
    ViewData["Title"] = "Index";
}



<div class="card" >
    <img class="card-img-top" src="@Model.slika" alt="Card image cap" style="max-height:600px" >
    <div class="card-body" id="ajaxDiv">
        <h5 class="card-title border-bottom pb-3 text-center">@Model.naziv<a href="#" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
        <p class="card-text">Ociijena :  @Model.ocijena.ToString("F1")</p>
        <a href="/KlijentModul/Ocijena/SnimiOcijenuOdabir?id=@Model.KnjigaID " class="center btn btn-primary " ajax-poziv="da" ajax-rezultat="ajaxDiv">Ocjeni Knjigu </a>

    </div>
  
</div>

@section Scripts{

    <script src="~/JFIT.js"></script>
  

}






