@using eKnjige.Areas.AdministratorModul.ViewModels
@model KorisniciUrediVM
@{
    ViewData["Title"] = "UrediKorisnika";
}

<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            <header class="panel-heading">
                <h2>Uredi korisnika</h2>
                <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
            </header>




            <div class="panel-body">
                <form asp-action="UrediKorisnika">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="KlijentID" type="hidden" />

                    <label asp-for="Ime" class="control-label"></label>
                    <input asp-for="Ime" class="form-control" />
                    <label asp-for="Prezime" class="control-label"></label>
                    <input asp-for="Prezime" class="form-control" />
                    <label asp-for="Jmbg" class="control-label"></label>
                    <input asp-for="Jmbg" class="form-control" />
                    <label asp-for="DatumRodjenja" class="control-label"></label>
                    <input asp-for="DatumRodjenja" class="form-control" />
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <label asp-for="KorisnickoIme" class="control-label"></label>
                    <input asp-for="KorisnickoIme" class="form-control" />
                    <label asp-for="Lozinka" class="control-label"></label>
                    <input asp-for="Lozinka" type="password" class="form-control" />
                    <label asp-for="Spol" class="control-label"></label>
                    <select asp-for="@Model.SpolID" class="form-control" asp-items="@Model.Spol">Odaberi spol</select>
                    <label asp-for="Grad" class="control-label"></label>
                    <select asp-for="@Model.GradID" class="form-control" asp-items="@Model.Grad">Odaberi grad</select><br />
                    <input type="submit" value="Spasi promjene" class="btn btn-success" />
                </form>
            </div>


            <div>
                <a asp-action="Korisnici" class="btn btn-danger"><i class="	fa fa-chevron-left"></i> Nazad</a>
            </div>
        </section>
    </section>
</section>
